* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

/* Generali */

/* Classi colore - Sfondi  */

.ms_bg-black{
    background-color: #000000;
}

.ms_bg-light-black {
    background-color: #1F1F1F;
}

.ms_bg-dark-gray {
    background-color: #363636;
}

/*/ Classi colore - Sfondi  */

/* Pulsanti */

/* Reset  */
.btn {
    border-radius: 20%;
    padding:10px;
    
}



/* header top */

#header-top .ms_img-container{
    width: 80px;
    height: 50px;
    /* line-height: 50px;
    vertical-align: middle; */

}

#header-top .ms_img-container > img{
    margin-right: 10px;
}

#header-top,
#header-bottom {
    line-height: 50px;
    vertical-align: middle;
}

#header-bottom svg{
    margin-left:5px;
}


/* /header top */

/* Jumbotron */

#jumbotron .jumbo-bg{
    width:100%;
    height:800px;
    background:url('../img/jumbo-bg.png') ;
    background-size: cover;
}


/* /Jumbotron */
