* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generali */

/* Classi colore - Sfondi  */

.ms_bg-black {
    background-color: #000000;
}

.ms_bg-light-black {
    background-color: #1F1F1F;
}

.ms_bg-dark-gray {
    background-color: #363636;
}

/*/ Classi colore - Sfondi  */

/* Margini tra le sezioni */

#hero,
#explore-ps4{
    margin-top:60px;
}

/* Pulsanti */

/* Reset  */
.btn {
    border-radius: 15%;
    padding: 10px;
    color:white;
}



/* header top */

#header-top .ms_img-container {
    width: 80px;
    height: 50px;
    
}

#header-top .ms_img-container>img {
    margin-right: 10px;
}

#header-top,
#header-bottom {
    line-height: 50px;
    vertical-align: middle;
}

#header-bottom svg {
    margin-left: 5px;
}


/* /header top */

/* Jumbotron */

#jumbo-banner{
    width: 100%;
    height: 70vh;
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: top;
    background-position-x: center;
}

#jumbo-banner .col > img
{
    width: 50%;
}

/* /Jumbotron */

/* fake-slider */
#fake-slider img{
    width: 200px;
    border-radius: 20%;
    margin-top:15px;
}


/* /fake-slider */

/* HeroImage */

/* span sopra al titolo */

#hero span:first-child{
    font-size: 16px;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    color:#0072ce;
   
}

/* Hero h3 */
#hero h3,
#explore-ps4 h3{
    font-size:40px;
    word-spacing: 10px;
    margin-top:10px;
  
}

#hero p:first-of-type,
#hero p:last-of-type,
#explore-ps4 p:last-of-type{
    font-size:20px;
    color:grey;
    margin-top:20px;
}



/* #hero img {
    height: 60%;
} */

#hero .hero-content{
    margin-top: 40px;
}

#hero .hero-content img{
    width:200px;
}

/* /HeroImage */

/* Jumbo1 */

#jumbo-banner1{
    width: 100%;
    height: 70vh;
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: top;
    background-position-x: center;
}

/* /Jumbo1 */

/* explore-ps4 */

#explore-ps4 .far{
    font-size:10px;
}

#explore-ps4 img{
    width: 200px;
}

#explore-ps4 > .container > .row{
    margin-bottom: 30px;
}

